<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/icon-computer.png">
    <meta name="description" content="Web Development by Alex Cawood">
    <meta name="author" content="Alex Cawood">
    <meta name="keywords" content="Web, Web Development, JavaScript, Backend, Database, front-end, Development,Ecommerce,Business, Analyst ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>About Me</title>
</head>
<body>
    
    <%- include('../partials/header'); %>

    <div class="container p-4 pt-5">
        <div class="row " >
            <!-- Main large Screen -->
            <div class="col-lg-6 ">
                <h1 class="display-4 pb-3"><b>About Me</b></h1>

                <p>I am interested in backend web development, database design, messaging bot development and a little bit of front-end web development.</p>
                <p>I studied information system management at the University of Stellenbosch. Hard work paid off and I graduated in the top 10% of my class. After studying, I moved into data consulting for a financial service provider. </p>
                <p>In the beginning of 2022, I packed away my data consulting hat to focus on web development. I have always had a passion for it and have been growing my knowledge and skills since I was in highschool.</p>
                <p>I live in Cape Town, South Africa and have a pretty cool dog --></p>

                <div class="row pt-5">
              
                    <div class="ccol-lg-8 d-flex justify-content-center">
                        <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a>
                    </div>
 
                </div>
                
            </div>
            
            <div class="col-lg-6  d-flex justify-content-center">
                <svg id="sw-js-blob-svg" viewBox="-5 13 100 75" xmlns="http://www.w3.org/2000/svg" version="1.1">
       
                </svg>

            </div>
           
            <!-- Small screen -->
            
        </div>
    </div>

</body>

<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>
<script>
    blobAnimiation(0,false,'images/Ragga_remove_background.png', x='-5',y='10')
</script>

</html>