<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Contact Me</title>
</head>
<body>
    
    <%- include('../partials/header'); %>
    <!-- Contact page -->
    <div class="container p-4 pt-5">
        <div class="row " >
            <!-- Main large Screen -->
            <div class="col-lg-6 ">
                <h1 class="display-4 pb-3"><b>Reach out!</b></h1>

                <form action="contact" method="post" >
                    <div class="form-group pt-1">
                        <label for="fullname">Your Name:</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Full Name" name="name">
                    </div>
                    <div class="form-group pt-1">
                        <label for="email">Your Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Email@exmail.com" name="email">
                    </div>
                    <div class="form-group pt-1">
                        <label for="message">How can I help? </label>
                        <textarea class="form-control" id="message" rows="5" name="message"></textarea>
                    </div>
                    <div class="form-group pt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary ">Send Message</button>
                    </div>
                  </form>

            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <svg id="sw-js-blob-svg" viewBox="0 10 100 80" xmlns="http://www.w3.org/2000/svg" version="1.1">

                </svg>

            </div>
           
            <!-- Small screen -->
            <div class="col-sm-12">

            </div>
        </div>
    </div>

</body>

<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>

</html>