<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/icon-computer.png">
    <meta name="description" content="Web Development by Alex Cawood">
    <meta name="author" content="Alex Cawood">
    <meta name="keywords" content="Web, Web Development, JavaScript, Backend, Database, front-end, Development,Ecommerce,Business, Analyst ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Projects</title>
</head>
<body>
    
    <%- include('../partials/header'); %>

    <div class="container p-4 pt-5">
        <div class="row " >
            <!-- Main large Screen -->
            <div class="col-lg-12 ">
                <h1 class="display-4 pb-3"><b>My Projects</b></h1>
            </div>
        </div>
        <div class="row" id="squareGrid">
            
        </div>
        
        <div class="row pt-3 pb-3">

            <div class="col-lg-12 d-flex justify-content-center">
                <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a>
            </div>
        </div>
        
    </div>
           
        


</body>

<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>

</html>